---
import App from '../components/App';
import favicon from '../../public/favicon.png';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,116&display=swap"
      rel="stylesheet"
    />
    <title>E-commerce product page</title>
  </head>
  <body class="relative max-w-screen-lg mx-auto md:px-8">
    <App client:only="react" />
  </body>
</html>
